extends layout

block styles
  link(rel='stylesheet', href='/css/account_settings.css')
  script(src="/js/account_settings.js")

block content

  section.screen
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/account_settings') Account Settings

    article.as_card#cacc
      h1 Account Settings
      div.details
        div.det#uid
          div
            p.title ID
            p.value 
        div.det#name
          div 
            p.title Name
            p.value
          .btns
            button.tertiery(type='button') Edit
        div.det#pass
          div 
            p.title Password
            p.value **************
          .btns
            button.tertiery(type='button') Edit
        div.det#lastlogin
          div 
            p.title Last Login at
            p.value
        div.det#createdat
          div 
            p.title Created at
            p.value
        div.det#createdby
          div 
            p.title Created by
            p.value      

    article.as_card#cname(style='display: none')
      h1 Edit Name
      .field
        .label
          p Enter a new name
          input(type='text')#iname
      div.btns
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Save

    article.as_card#cpass(style='display: none')
      h1 Change Password
      div.flex
        div
          p Current password
          input(type='password')#icurrpass
          p New password
          input(type='password')#inewpass
          p Retype new password
          input(type='password')#irepass

        div.note
          p Password must contain:
          ul
            li 1 lowercase
            li 1 UPPERCASE
            li 1 numeric
            li 1 special character
            li 8 characters or more
      div.btns
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Save

  
