extends layout

block styles
  link(rel='stylesheet', href='/css/finance.css')
  link(rel='stylesheet', href='/css/credit_note.css')
  script(src="/js/credit_note.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/credit_note') Credit Note

    article
      h1 Credit Note
      .searchCont
      div
        .act
        .pager 
      
      .results