extends layout

block styles
  link(rel='stylesheet', href='/css/finance.css')
  link(rel='stylesheet', href='/css/debit_note.css')
  script(src="/js/debit_note.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/debit_note') Debit Note

    article
      h1 Debit Note
      .searchCont
      div
        .act
        .pager 
      
      .results