extends layout

block styles
  link(rel='stylesheet', href='/css/device_management.css')
  script(src="/js/device_management.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/device_management') Device Management

    article.list#list(style='display:block')
      .top
        h1 Device Management
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager       
      .results
    article.create.formGroup#create(style='display: none')
      h1#formLabel Create Device
      .field 
        .label
          p  UU ID
          input(type="text",name='uuID',id='uuID')
      .field 
        .label
          p  Tel No
          input(type="text",name='telNo',id='telNo')
      .field
        .label
          p  IME ID
          input(type='text', name="imeID")#imeID    
      .field
        .label
          p  Year Purchased
          select(name='yearPurchased')#yearPurchased    
      .field
        .label
          p  Made
          select(name='made')#made   
      .field
        .label
          p  Status
          select(name='status')#status    
      .field
        .label
          p  Model
          select(name='model')#model
          input(type='hidden',name="rowId",value='')#rowId
      div.btns.btns2
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Save
        button.primary.update(type='button') Update