extends layout

block styles
  link(rel='stylesheet', href='/css/home.css')
  script(src="/js/home.js")

block content
  section
    h1 Modules
    .flexr
      a.card#admins(href='/users')
        img(src='/img/admin.svg')
        p.title Users
