extends layout

block styles
  link(rel='stylesheet', href='/css/home.css')
  script(src="/js/home.js")
  script(src="/chart/chart.js")

block content
  section
    div.summary
      .card#sales
        div.left
          p
            img(src='/img/sales.svg')
        div.right
          p.title SALES
          p.value -
      .card#returns
        div.left
          p
            img(src='/img/return.svg')
        div.right
          p.title RETURN
          p.value -
      .card#collections
        div.left
          p
            img(src='/img/collection.svg')
        div.right
          p.title COLLECTION
          p.value -
    div.detail
      div.left
        div.top
          div.header
            div.title Yearly Sales &#38; Returns
          canvas#salesAndReturnChart
        div.bottom
          div.header
            div.title Recent Transaction
            div#rectangle Latest 5
          div.recentTransaction
      div.right
        div.top
          div.header
            div.title Best Selling Product (This Month)
            div#rectangle Top 5
          canvas#bestSellingProductChart
        div.bottom.bestSellingProduct

