extends layout

block styles
  link(rel='stylesheet', href='/css/inventory.css')
  script(src="/js/inventory.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/inventory') Inventory

    article
      .top
        h1 Inventory
      .icont
        