extends layout

block styles
  link(rel='stylesheet', href='/css/finance.css')
  link(rel='stylesheet', href='/css/invoice.css')
  script(src="/js/invoice.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/invoice') Invoice

    article
      h1 Invoice
      .searchCont
      div
        .act
        .pager 
      
      .results