doctype html
html
  head
    title AMS
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/var.css')
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href="/select2/dist/css/select2.min.css")
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link( rel="stylesheet",href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;700&display=swap")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="/dayjs/dayjs.min.js")
    script(src="/decimal.js/decimal.min.js")
    script(src="/dayjs/plugin/isoWeek.js")
    script(src="/sortablejs/Sortable.min.js")
    script(src="/jquery-sortablejs/jquery-sortable.js")
    script(src="/select2/dist/js/select2.min.js")
    script(src="/printjs/print.js")
    script(src='/js/fn.js')
    script(src="/js/layout.js")
    block styles
  body
    nav.header
      div.l
        a(href='/') #[img#brand(src='/img/brand/logo.svg')]
      div.c
      div.r
        div#user
          img(src='/img/user.svg')
          p #{(user_id||'').toUpperCase()}
        div.verticalLine
        div#notification
          img(src='/img/bell.svg')
          a
            span.count(style='display:none;') 0
        div#logout
          img(src='/img/logout.svg')

    nav.main-menu
      ul
        li
          a(href='/home')
            img.icon(src='/img/menu/dashboard.svg')
            span(class="nav-text") Dashboard
        li
          a.panel-collapsed
            img.icon(src='/img/menu/inventory.svg')
            span(class="nav-text") Inventory
            img.arrow(src='/img/menu/down_arrow.svg')
          ul.sub-menu
            li.collapsein(style='display:none')
              a(href='/inventory')
                img.icon(src='/img/menu/sub-item.svg')
                span Inventory
            li.collapsein(style='display:none')
              a(href='/transfer_in')
                img.icon(src='/img/menu/sub-item.svg')
                span Transfer In
            li.collapsein(style='display:none')
              a(href='/transfer_out')
                img.icon(src='/img/menu/sub-item.svg')
                span Transfer Out
            li.collapsein(style='display:none')
              a(href='/write_off')
                img.icon(src='/img/menu/sub-item.svg')
                span Write Off
        li
          a.panel-collapsed
            img.icon(src='/img/menu/operation.svg')
            span(class="nav-text") Operation
            img.arrow(src='/img/menu/down_arrow.svg')
          ul.sub-menu
            li.collapsein(style='display:none')
              a(href='/van_allotment')
                img.icon(src='/img/menu/sub-item.svg')
                span Van Allotment
            li.collapsein(style='display:none')
              a(href='/picklists')
                img.icon(src='/img/menu/sub-item.svg')
                span Picklists
            li.collapsein(style='display:none')
              a(href='/recon')
                img.icon(src='/img/menu/sub-item.svg')
                span Reconciliation
        li
          a.panel-collapsed
            img.icon(src='/img/menu/finance.svg')
            span(class="nav-text") Finance
            img.arrow(src='/img/menu/down_arrow.svg')
          ul.sub-menu
            li.collapsein(style='display:none')
              a(href='/invoice')
                img.icon(src='/img/menu/sub-item.svg')
                span Invoice
            li.collapsein(style='display:none')
              a(href='/receipt')
                img.icon(src='/img/menu/sub-item.svg')
                span Receipt
            li.collapsein(style='display:none')
              a(href='/credit_note')
                img.icon(src='/img/menu/sub-item.svg')
                span Credit Note
            li.collapsein(style='display:none')
              a(href='/void')
                img.icon(src='/img/menu/sub-item.svg')
                span Void
            li.collapsein(style='display:none')
              a(href='/refund')
                img.icon(src='/img/menu/sub-item.svg')
                span Refund
            li.collapsein(style='display:none')
              a(href='/debit_note')
                img.icon(src='/img/menu/sub-item.svg')
                span Debit Note
            li.collapsein(style='display:none')
              a(href='/outlet_acc_stmt')
                img.icon(src='/img/menu/sub-item.svg')
                span Statement of Account
        li
          a.panel-collapsed
            img.icon(src='/img/menu/data.svg')
            span(class="nav-text") Data
            img.arrow(src='/img/menu/down_arrow.svg')
          ul.sub-menu
            li.collapsein(style='display:none')
              a(href='/sites')
                img.icon(src='/img/menu/sub-item.svg')
                span Sites
            li.collapsein(style='display:none')
              a(href='/users')
                img.icon(src='/img/menu/sub-item.svg')
                span Users
            li.collapsein(style='display:none')
              a(href='/outlets')
                img.icon(src='/img/menu/sub-item.svg')
                span Outlets
            li.collapsein(style='display:none')
              a(href='/skus')
                img.icon(src='/img/menu/sub-item.svg')
                span Product
            li.collapsein(style='display:none')
              a(href='/vans')
                img.icon(src='/img/menu/sub-item.svg')
                span Vans
            li.collapsein(style='display:none')
              a(href='/price')
                img.icon(src='/img/menu/sub-item.svg')
                span Price
            li.collapsein(style='display:none')
              a(href='/device_management')
                img.icon(src='/img/menu/sub-item.svg')
                span Device Management
      ul.settings
        li.horizontalLine
          hr
        li
          a(href='/lov')
            img.icon(src='/img/menu/settings.svg')
            span(class="nav-text") Settings

    div.content
      block content

    div.modalCont#user_profile(style='display:none;')
      div.modal
        .head
          img.profile(src='/img/user.svg')
          p.name #{name}
        .links
          a#btnAccountSettings(href='/account_settings')
            img(src='/img/settings.svg')
            p Account Settings

      div.overlay