doctype html
html
  head
    title AMS | Login
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='/css/var.css')
    link(rel='stylesheet', href='/css/login.css')
    link(rel='stylesheet', href='/font-awesome/css/all.min.css')
    script(src="https://code.jquery.com/jquery-3.5.1.min.js",integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=",crossorigin="anonymous")
    script(src='/js/login.js')

  body
    .header 
    .content
      form.form(method='POST', action='/login')
        .title
          img.logo(src='/img/brand/logo_only.svg')
          div.response #{error}
        .fields
          .field.username
            div.input-icons
              i(class="fa fa-user icon")
              input.input-field(name='username', type='text', required, autocomplete='off' placeholder='USERNAME')
          .field.password
            div.input-icons
              i(class="fa fa-lock icon")
              input.input-field(name='password', type='password', required, autocomplete='off' placeholder='PASSWORD')
        button#btnLogin(type='submit') SIGN IN
    .footer
      img.wave(src='/img/wave.svg' )

