extends layout

block styles
  link(rel='stylesheet', href='/css/lov.css')
  script(src="/js/lov.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/lov') LOV

    article.list#list(style='display:block')
      .top
        h1 LOV
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager       
      .results
    article.create.formGroup#create(style='display: none')
      h1#formLabel Create LOV
      .field 
        .label
          p  Sequence
          input(type="text",name='sequence',id='sequence')
      .field 
        .label
          p  Display Value
          input(type="text",name='displayValue',id='displayValue')
      .field
        .label
          p  Group ID
          input(type='text', name="groupID")#groupID    
      .field
        .label
          p  Is Default
          label.switch
            input(type='checkbox', name="isDefault")#isDefault
            span.slider.round   
      .field
        .label
          p  ID
          input(type="text",name='id')#id   
      .field
        .label
          p  Active
          label.switch
            input(type='checkbox', name="active")#active
            span.slider.round    
      .field
        .label
          p  Value
          input(type="text",name='value')#value
          input(type='hidden',name="rowId",value='')#rowId
      div.btns.btns2
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Save
        button.primary.update(type='button') Update