extends layout

block styles
  link(rel='stylesheet', href='/css/outlets.css')
  script(src="/js/outlets.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/outlets') Outlets

    article.list#list(style='display:none')
      .top
        h1 Outlets
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager      
      .results
    article.create.formGroup#create(style='display: block')
      h1#formLabel Outlet Details
      .field-one 
        .label
          p  Outlet Name
          input(type='text')#outletName
      .field-one 
        .label
          p  License No
          input(type='text')#licenseNo
      .field-one 
        .label
          p Status
          input(type='text')#status 
    article.create.formGroup#create(style='display: block')
      h1#formLabel Outlet 111
      .field 
        .label
          p  Channel
          input(type='text')#channel
      .field 
        .label
          p  Category
          input(type='text')#category
      .field 
        .label
          p Sub Channel
          input(type='text')#subChannel
      .field 
        .label
          p Presence
          input(type='text')#presence
      .field 
        .label
          p Outlet Concept
          input(type='text')#outletConcept
      .field 
        .label
          p Claim Store Type
          input(type='text')#calimStoreType
      .field 
        .label
          p Outlet Type
          input(type='text')#outletType
    article.create.formGroup#create(style='display: block')    
      h1#formLabel Contacts Details
      .field 
        .label
          p  Contact ID
          input(type='text')#contactID
      .field 
        .label
          p  Contact ID
          input(type='text')#contactID
      .field 
        .label
          p  Owner Salutation
          input(type='text')#ownerSalutation
      .field 
        .label
          p  Employee Salutation
          input(type='text')#employeeSalutation
      .field 
        .label
          p  Owner Name
          input(type='text')#ownerName
      .field 
        .label
          p  Employee Name
          input(type='text')#employeeName
      .field 
        .label
          p  Owner Email
          input(type='text')#ownerEmail
      .field 
        .label
          p  Employee Email
          input(type='text')#employeeEmail
      .field 
        .label
          p  Owner Tel No
          input(type='text')#ownerTelNo
      .field 
        .label
          p  Employee Tel No
          input(type='text')#employeeTelNo
    article.create.formGroup#create(style='display: block')    
      h1#formLabel Location Details
      .field-one 
        .label
          p  State
          input(type='text')#state
      .field-one 
        .label
          p  City
          input(type='text')#city
      .field-one 
        .label
          p  Post code
          input(type='text')#postcode
      .field-one 
        .label
          p  Address 1
          input(type='text')#address1
      .field-one 
        .label
          p  Address 2
          input(type='text')#address2
      .field-one 
        .label
          p  Latitude
          input(type='text')#latitude
      .field-one 
        .label
          p  Longitude
          input(type='text')#longitude
    article.create.formGroup#create(style='display: block')    
      h1#formLabel Location Details
      .field-one 
        .label
          p  Assigned Van ID
          input(type='text')#assignedVanID
      .field-one 
        .label
          p  Week Frequency
          input(type='text')#weekFrequency
      .field-one 
        .label
          p  Month Frequency
          input(type='text')#monthFrequency
      div.btns.btns2
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Save
        button.primary.update(type='button') Update
