extends layout

block styles
  link(rel='stylesheet', href='/css/finance.css')
  link(rel='stylesheet', href='/css/outlet_acc_stmt.css')
  script(src="/js/outlet_acc_stmt.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/outlet_acc_stmt') Statement of Account

    article
      h1 Statement of Account
      .searchCont
      div
        .act
        .pager 
      
      .results