extends layout

block styles
  link(rel='stylesheet', href='/css/picklists.css')
  script(src="/js/picklists.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/picklists') Picklists

    article
      .top
        h1 Picklists        
      .searchCont
      div.actPager
        .act
        .pager 
      
      .results