extends layout

block styles
  link(rel='stylesheet', href='/css/price.css')
  script(src="/js/prices.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/prices') Price

    article.list#list(style='display:block')
      .top
        h1 Price
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager       
      .results
    article.create.formGroup#create(style='display: none')
      h1#formLabel Create Price
      .field 
        .label
          p  SKU
          select(name='sku',id='sku')
      .field
        .label
          p  Price
          input(type='text')#price    
      .field
        .label
          p  UOM
          select(name='uom')#uom    
      .field
        .label
          p  Effective Date
          input(type='date',name="effectiveDate")#effectiveDate    
      .field
        .label
          p  Price Group
          select(name='priceGroup')#priceGroup  
          input(type='hidden',name="rowId",value='')#rowId
      div.btns.btns2
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Save
        button.primary.update(type='button') Update