extends layout

block styles
  link(rel='stylesheet', href='/css/finance.css')
  link(rel='stylesheet', href='/css/receipt.css')
  script(src="/js/receipt.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/receipt') Receipt

    article
      h1 Receipt
      .searchCont
      div
        .act
        .pager 
      
      .results