extends layout

block styles
  link(rel='stylesheet', href='/css/recon.css')
  script(src="/js/recon.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/recon') Reconciliation

    article
      .top
        h1 Reconciliation
      .icont
        