extends layout

block styles
  link(rel='stylesheet', href='/css/finance.css')
  link(rel='stylesheet', href='/css/refund.css')
  script(src="/js/refund.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/refund') Refund

    article
      h1 Refund
      .searchCont
      div
        .act
        .pager 
      
      .results