extends layout

block styles
  link(rel='stylesheet', href='/css/sites.css')
  script(src="/js/sites.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/sites') Sites

    article.list#list(style='display:block')
      .top
        h1 Sites
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager       
      .results

    article.create.formGroup#create(style='display: none')
      h1#formLabel Add sites
      div#image-container
          image#image
          input#imageUpload(type='file' name='product_photo' placeholder='Photo' required='' isDefault=true accept='image/png' capture style='display:none;')
      .field 
        .label
          p  Site ID
          input(type='text')#id
      .field
        .label
          p  Site name
          input(type='text')#name    
      .field
        .label
          p  Postcode
          input(type='text')#postcode
      .field          
          .label
            p  Address
            textarea(type='textarea' rows="6", cols="66")#address
      .field
        .label
          p  State
          select(name="state")#state
      .field
        .label
          p  City
          select(name="city")#city
      .field
        .label
          p  Status
          select#status
      div.btns.btns2
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Save
        button.primary.update(type='button') Update