extends layout

block styles
  link(rel='stylesheet', href='/css/skus.css')
  script(src="/js/skus.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/skus') SKUs

    article.list#list(style='display:block')
      .top
        h1 SKUs
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager       
      .results
    article.createa.formGroup#createa(style='display: none')
      h1#formLabel Main Information
      .field
        .label
          p SKU ID
          input(type='text',name='skuId')#skuId
      .field
        .label
          p  Category
          select(type='text' name='category')#category
      .field
        .label
          p SKU Name
          input(type='text',name='skuName')#skuName
      .field
        .label
          p Sub Category
          select(type='text' name='subCategory')#subCategory   
      .field
        .label
          p  Active
          label.switch
            input(type='checkbox', name="active")#active
            span.slider.round   
      .field
        .label
          p  Base UOM
          select(name='baseUom')#baseUom 
      div.btns.btns2
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Next
        button.primary.update(type='button') Update

    article.create.formGroup#create(style='display: none')
      h1#formLabel Assign UOM
      .field
        .label
          p#moveRight  Base UOM From
          select(name='baseUom',multiple='multiple')#from 
            option(value='1') Home
            option(value='2') Condo
      .field
        .label
          p#moveleft  Base UOM To
          select(name='baseUom',multiple='multiple')#to 
      div.btns.btns2
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Next
