extends layout

block styles
  link(rel='stylesheet', href='/css/transfer_in.css')
  script(src="/js/transfer_in.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/transfer_in') Transfer In

    article
      .top
        h1 Transfer In
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager 
      
      .results