extends layout

block styles
  link(rel='stylesheet', href='/css/transfer_out.css')
  script(src="/js/transfer_out.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/transfer_out') Transfer Out

    article
      .top
        h1 Transfer Out
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager 
      
      .results