extends layout

block styles
  link(rel='stylesheet', href='/css/uoms.css')
  script(src="/js/uoms.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/uoms') UOMs

    article.list#list(style='display:block')
      .top
        h1 UOMs
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager       
      .results

    article.create#create(style='display: none')
      h1#formLabel Add uoms
      .field
        .label
          p  UOM id
          input(type='text')#id
      .field
        .label
          p  UOM name
          input(type='text')#name
      div.btns
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Save
        button.primary.update(type='button') Update