extends layout

block styles
  link(rel='stylesheet', href='/css/users.css')
  script(src="/js/users.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/users') Users

    article.list#list(style='display:block')
      .top
        h1 Users
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager       
      .results
    article.create.formGroup#create(style='display: none')
      h1#formLabel Add user
      .field 
        .label
          p  User ID
          input(type='text')#id
      .field
        .label
          p  Name
          input(type='text')#name    
      .field.password
        .label
          p  Password
          input(type='password')#password    
      .field
        .label
          p  Role
          select(name='role',id='role')
            option(value='admin') Admin 
            option(value='superadmin') Superadmin 
            option(value='warehouse admin') Warehouse Admin
            option(value='warehouse manager') Warehouse Manager
            option(value='finance') Finance
            option(value='storekeeper') Storekeeper
            option(value='salesman') Salesman
      .field
        .label
          p  Status
          select(name='status',id='status')
            option(value=1) Active 
            option(value=0) In Active
      .field
        .label
          p  Device ID
          input(type="text",name='deviceID',id='deviceID')
      .field
        .label
          p  Allow New Device
          select(name='allowNewDevice',id='allowNewDevice')
            option(value=1) Yes 
            option(value=0) No
      div.btns.btns2
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Save
        button.primary.update(type='button') Update