extends layout

block styles
  link(rel='stylesheet', href='/css/users2.css')
  script(src="/moment/min/moment.min.js")
  script(src="/js/users2.js")

block content
  .cards
    .card.header
      h1 Users
      table.filters
        tr.userid
          td #[label(for='userid') User ID]
          td #[input#userid(type='text')]
        tr.status
          td #[label Status]
          td 
            div.tags
              input#sAll(type='radio', name='status', value='all', checked)
              label(for='sAll') All
              input#sActive(type='radio', name='status', value='active')
              label(for='sActive') Active
              input#sInactive(type='radio', name='status', value='inactive')
              label(for='sInactive') Inactive

      div.grpctrl
        div.act#act
        div.pager(style='display: none')
          div.counter #[span.lower 0]‒#[span.upper 0] of #[span.total 0]
          div.stepper 
            button(type='button').prev #[img(src='/img/chev_left.svg')]
            button(type='button').next #[img(src='/img/chev_right.svg')]
      
      table.data#tbUsers
        thead
          tr
            th.id ID
            th.name Name
            th.role Role
            th.status Status
            th.ts Last Login At
            th.by Created By
            th.ts Created At
        tbody.userlist
      input#role(type='hidden', value=`${role}`)

    .card.details(style='display:none')
      div.ctrl.act.noprint
        button(type='button')#btnBack #[img(src='/img/back_arrow_grey.svg')] #[.bg] #[.label Back]
        div
          button(type='button')#btnUserPrint.printer #[img(src='/img/print.svg')] #[.bg] #[.label Print]
      div.columns
        div.headtile
          img(src='/img/admin.svg')
        div.skus
          h1.oid
          table#tbUser
            tbody
              tr.id
                td.title ID
                td.value
              tr.name
                td.title Name
                td.value
              tr.role
                td.title Role
                td.value
              tr.status
                td.title Status
                td.value
              tr.lastLoginAt
                td.title Last Login At
                td.value
              tr.retries
                td.title Retries
                td.value
              tr.createdBy
                td.title Created By
                td.value
              tr.createdAt
                td.title Created At
                td.value
