extends layout

block styles
  link(rel='stylesheet', href='/css/van_allotment.css')
  script(src="/js/van_allotment.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/van_allotment') Allotment

    article
      .top
        h1 Allotment
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div.actPager
        .act
        .pager 
      
      .results