extends layout

block styles
  link(rel='stylesheet', href='/css/van_allotment_plan.css')
  script(src="/js/van_allotment_plan.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/van_allotment_plan') Allotment Plan

    article
      h1 Allotment Plan
      .searchCont
      div
        .act
        .pager 
      
      .results