extends layout

block styles
  link(rel='stylesheet', href='/css/vans.css')
  script(src="/js/vans.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/vans') Vans

    article.list#list(style='display:block')
      .top
        h1 Vans
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager 
      
      .results

    article.create.formGroup#create(style='display: none')
      h1#formLabel Add Van
      .field
        .label
          p Site ID
          select#siteId
      .field
        .label
          p Van ID
          input(type='text')#id
      .field
        .label
          p Van name
          input(type='text')#name
      .field
        .label
          p Territory
          select#territoryType
      .field
        .label
          p Shift
          select#shift
      .field
        .label
          p Plan Upload
          select#planUpload
      .field
        .label
          p Status
          select#status
      div.btns
        button.secondary.cancel(type='button') Cancel
        button.primary.save(type='button') Save
        button.primary.update(type='button') Update