extends layout

block styles
  link(rel='stylesheet', href='/css/finance.css')
  link(rel='stylesheet', href='/css/void.css')
  script(src="/js/void.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/void') Void Invoice

    article
      h1 Void Invoice
      .searchCont
      div
        .act
        .pager 
      
      .results