extends layout

block styles
  link(rel='stylesheet', href='/css/write_off.css')
  script(src="/js/write_off.js")

block content
  section
    .breadcrumbs
      a(href='/') Home
      p &gt;
      a(href='/write_off') Write-off

    article
      .top
        h1 Write-off
        .btns
          button(type='button')#btnCreateScreen Create
      .searchCont
      div
        .act
        .pager 
      
      .results