section{
  margin-bottom: 60px;
}

#cname, #cpass{
  width: max-content;
}

article.as_card .btns{
  justify-content: flex-end;
  margin-top: 30px;
}

.details{
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 650px;
}

.det{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 1px solid #ddd;
}

.det:last-child{
  border: 0;
}

.det button{
  height: min-content;
  padding: 5px 15px;
}

.details p{
  margin: 0;
}

.details .title{
  font-size: 14px;
  margin-bottom: 4px;
  color: #666;
}

.details .value{
  font-size: 18px;
  color: #333;
}

.btns{
  margin: 20px 10px;
  display: flex;
  justify-content: flex-end;
}

.btns button{
  width: 100px;
}

.btns button:first-child{
  margin-right: 20px;
}

#cpass p:not(:first-child){
  margin-top: 20px;
}

#cpass .flex{
  flex-wrap: wrap;
  margin: 0 -20px -20px;
}

#cpass .flex > *{
  margin: 20px;
}

.flex{
  display: flex;
  justify-content: flex-start;  
  align-items: flex-start;
}

.note{
  border-radius: 8px;
  border: 1px solid silver;
  padding: 15px 30px;
  margin: auto;
  margin-top: 64px !important;
}

.note ul{
  padding: 0 20px;
  font-size: 14px;
}

#btnBack{
  margin: 20px auto 0;
  max-width: 150px;
  text-align: center;
}

@media(max-width: 576px){
  .note{
    margin: 0 0 20px;
  }

  #cpass .flex{
    flex-direction: column-reverse;
  }

  #cpass .flex > div{
  }

  #cname, #cpass{
    width: unset;
  }

  .screen input{
    min-width: unset;
    width: calc(100vw - 60px);
    box-sizing: border-box;
  }

}

@media(max-width:  380px){
  .det{
    flex-direction: column;
    align-items: flex-start;
  }

  .det .btns{
    width: 100%;
    justify-content: center !important;
  }

  .det .btns button{
    width: 100%;
  }
}