/* +-----------+ */
/* | sku table | */
/* +-----------+ */

.table{
  margin: 10px 0 25px;
  width: min-content;
  border: var(--border);
}

.table > .cont{
  max-height: calc(100vh - 170px - 30px);
  overflow: auto;
}

.table table{
  border-collapse: collapse;
  box-sizing: border-box;
  min-width: 360px;
}

.table .title{
  position: relative;
}

.table .sideBtns{
  position: absolute;
  width: max-content;
  right: 34px;
  top: 0;
}

.table button.sideBtn{
  position: absolute;
  background: none;
  border-radius: 0;
  margin :0;
  padding: 0;
  height: 34px;
  width: 34px;
}

.table button.sideBtn:hover{
  background: whitesmoke;
  box-shadow: none;
}

.table .title{
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: var(--border);
  background: var(--bg-row-even);
}

.table table{
  margin: 0 20px 5px;
}

.table th{
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;  
}

.table td{
  font-size: 14px;
}

.table th, .table td{
  padding: 10px 20px;
  border: var(--border);
}

.table th, .table td{
  border: none;
  border-bottom: var(--border);
}

.table th{
  width: min-content;
}

.table td{
  padding-top: 6px;
  padding-bottom: 6px;
}

.table .qty{
  padding: 0 20px;
  text-align: right;
  background: none;
}

.table tr > *:first-child{
  padding-left: 0;
}

.table tr > *:last-child{
  padding-right: 0;
}

.table tr:last-child td{
  border: none;
}

.table.selectable tbody td{
  transition: 0.2s background, 0.2s box-shadow;
  cursor: pointer;
}

.table.selectable tbody tr:hover td{
  box-shadow: var(--bg-row-shadow);
  background: var(--bg-row-hover);
}
