.card{
  padding: 10px 20px;
}

.card h1{
  font-size: 18px;
  font-weight: normal;
}

.card a{
  text-align: right;
  font-size: 14px;
  display: block;
  margin-left:  auto;
  text-decoration: none;
  color: royalblue;
  margin: 8px 0;
}

.card a .chev{
  font-size: 18px;
}

.squareCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px -10px;
}

.squareCards .card{
  height: 120px;
  width: 120px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s, background-color 0.2s;
}

.squareCards .card:hover{
  background-color: #fafafa;
  box-shadow: 0 2px 8px 0 darkgrey;
}

.squareCards .card img{
  display: block;
  margin: auto;
  max-width: 60px;
  max-height: 60px;
}

.squareCards .card .title{
  font-size: 14px;
  margin: 0;
  text-align: center;
  color: black;
}

#settings h1{
  text-align: center;
}