canvas {
  
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  height: 70vh;
}

.detail > .left{
  width: 60%;
  margin: 10px;
}

.detail > .right{
  margin: 10px 10px 35px 10px;
}

.detail > .left > .top{
  height: 50%;
}

.detail > .right > .top,
.detail > .right > .bottom {
  height: 50%;
}

#salesAndReturnChart {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -30px;
}

.detail > .left > .top,
.detail > .right {
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: white;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.summary{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

p.title {
  align-items: center;
  font-weight: 0.5em;
  font-size: 18px;
}

p.value {
  font-size: 18px;
}

div.summary > .card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.summary > .card#sales > div.left {
  width: 20%;
}

div.summary > .card#sales > div.right {
  width: 80%;
}

.card img {
  width: 40px;
}

#sales .title {
  color: rgba(35, 100, 170, 1);
}

#returns .title {
  color: rgba(247, 37, 133, 1);
}

#collections .title {
  color: rgb(115, 191, 184);
}

.value {
  font-size: 25px;
}

.card {
  width: 30vh;
  height: 10vh;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

div.bestSellingProduct table {
  width: 100%;
  background-color: white;
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

div.bestSellingProduct thead {
  background: rgba(196, 207, 211, 0.2);;
}

div.bestSellingProduct td {
  padding: 4px;
}

div.bestSellingProduct .sku_id {
  text-align: left;
  margin-left: 30px;
}

div.bestSellingProduct td.diamond {
  width: 3px;
  height: 3px;
  transform: rotate(-45deg);
  position: relative;
  display: block;
  margin-top: 3px;
  margin-left: 10px;
}

div.bestSellingProduct tr:nth-child(1) > td:nth-child(1){
  background: rgb(247, 37, 133);
}

div.bestSellingProduct tr:nth-child(2) > td:nth-child(1){
  background: rgb(114, 9, 183);
}

div.bestSellingProduct tr:nth-child(3) > td:nth-child(1){
  background: rgb(58, 12, 163);
}

div.bestSellingProduct tr:nth-child(4) > td:nth-child(1){
  background: rgb(67, 97, 238);
}

div.bestSellingProduct tr:nth-child(5) > td:nth-child(1){
  background: rgb(76, 201, 240);
}

div.detail > div.left > div.bottom {
  background: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-top: 20px;
  padding: 10px;
}

div.detail h1{
  font-size: 13px;
  padding-left: 10px;
  padding-bottom: 10px;
}

div.recentTransaction table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  align-items: center;
  margin-top: 5px;
}

div.recentTransaction table thead{
  border-bottom: 1pt solid black;
}

div.recentTransaction table td {
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
  min-width: fit-content;
}

.header {
  display: flex;
  justify-content: space-between;
}

div.detail div.title{
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
}

div#rectangle{
  width: 40px;
  height: 15px;
  background: #6F52ED;
  border-radius: var(--border-radius);
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 2px;
}

div.recentTransaction th.reference,
div.recentTransaction th.customer,
div.recentTransaction td.reference,
div.recentTransaction td.customer {
  text-align: left;
}

div.recentTransaction td.status {
  background: #16D39A;
  border-radius: var(--border-radius);
  color: white;
  display: block;
  height: 8px;
  font-size: 10px;
  padding-bottom: 8px;
  margin-top: 3px;
}