.skutable.viewOnly > .cont{
  max-height: unset;
  overflow: auto;
}

.skutable tbody > tr:hover{
  background: paleturquoise;
  cursor: pointer;
}

#ledgerScreen .cont{
  margin-top: 0;
}

.results tbody > tr:hover{
  background: #e8e8e8 !important;
  box-shadow: none !important;
}

.results tbody tr > *{
  cursor: default !important;
}