html, body{
  padding: 0;
  background: var(--bg-body);
  font-family: 'Roboto', sans-serif, 'Roboto Mono', monospace;
  color: black;
}

.hide{
  display: none !important;
}

body{
  margin: 0;
  position: relative;
}

.flexrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background: var(--bg-nav);
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid lightgrey;
  transition: 0.2s box-shadow, 0.2s background;
}

nav:hover{
  box-shadow: 0 2px 8px 0 lightgrey;
  background: var(--bg-nav-hover);
}

.content{
  margin-top: 70px;
}

nav img{
  display: block;
  height: 30px;
}

#brand{
  max-height: 30px;
  max-width: 120px;
  padding: 10px 15px;
}

nav .l, nav .c, nav .r{
  display: flex;
  justify-content: center;
}

nav .l > *,
nav .c > *,
nav .r > *{
  transition: background-color 0.2s;
}

nav .l > *:hover, 
nav .c > *:hover, 
nav .r > *:hover{
  background: var(--bg-nav-btn-hover);
}

#user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 15px;
}

#user img{
  margin-right: 5px;
  padding: 0;
  height: 35px;
}

.cards{
  max-width: 768px;
  margin: auto;
  font-size: 14px;
}

.card{
  margin: 16px;
  box-shadow: 0 2px 8px 0 lightgrey;
  border-radius: 8px;
  background-color: white;
}

.card .header {
  color: white;
  border-radius: 8px 8px 0 0;
  background-color: #24336b;
}

.card .header h1{
  font-size: 12px;
  padding: 9px 16px;  
}

.card .body{
  color: #58595b;
  padding: 16px 0px;
  background-color: white;
  border-radius: 8px;
}

.card .body p{
  padding: 6px 16px;
}

.card table{
  width: 100%;
  border-spacing: 0;
  border-radius: 5px;
}

.card input{
  height: 28px;
  padding: 0 8px;
  border-radius: 3px;
  border: 2px solid #cdcdcd;
  width: 100%;
  box-sizing: border-box;
}

.card input:focus{
  border: 2px solid #01b1ed;
  outline: none;
}

.card.header,  
.card.details,
.card.create{
  padding: 15px 20px 20px;
  box-sizing: border-box;
}

.card.header .flexrow .act{
  justify-content: flex-end;
}

.card.header table.data,
.card.details table{
  margin: 10px 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.card.header table.data th, 
.card.header table.data td,
.card.details table th, 
.card.details table td{
  padding: 6px 15px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.card.header table.data th{
  text-align: center;
  height: 24px;
}

.card.header .data tbody tr{
  border-bottom: 1px solid #ddd;
  color: #333;
  cursor: pointer;
}

.card.header .data tbody tr:hover{
  box-shadow: 0 0 8px 0 lightgrey;
}

.card.header .data tbody tr.checked{
  background-color: rgba(1, 177, 237, 0.05);
}

.card.header .data th.total,
.card.header .data td.total{
  flex-grow: 1;
  text-align: right;
}

.card.header .data td{
  vertical-align: middle;
  text-align: center;
}

.card.header .data .chk{
  padding: 0;
  width: 34px;
  box-sizing: border-box;
}

.card.details .columns{
  display: flex;
}

.card.details .headtile{
  width: max-content;
  margin-left: 20px;
  margin-right: 30px;
}

.card.details .headtile img{
  max-width: 60px;
}

.card.details .columns h1{
  margin-top: 0;
}

.card.details table{
  width: unset;
}

.card.details .title{
  font-weight: bold;
}
.card.details .value{
  text-align: left;
}

.filters, .filters td{
  border: 0;
}

.filters td{
  vertical-align: top;
  padding: 5px;
}

.filters td:first-child{
  padding-left: 0;
  width: 70px;
}

.filters td:last-child{
  padding-right: 0;
}

.filters .date label,
.filters .status .label,
.filters .download label{
  display: block;
}

.filters td:first-child label{
  line-height: 40px;
  white-space: nowrap;
}

.filters input{
  border: 1px solid silver;
  padding: 0 14px;
  height: 32px;
  margin: 4px 0;
  width: 170px;
}

.filters input[type='date']{
  width: unset;
}

.filters input[type='radio']{
  display: none;
}

.filters .searchby input,
.filters .status input{
  display: none;
}

.filters .tags label{
  border: 1px solid silver;
  border-radius: 4px;
  padding: 8px 14px;
  margin: 5px;
  cursor: pointer;
}

.filters .tags input:not(:checked) + label:hover,
.filters .status input:not(:checked) + label:hover{
  border: 3px solid gold;
  padding: 6px 12px;
}

.filters .tags input:not(:checked) + label:active, 
.filters .status input:not(:checked) + label:active{
  background: var(--primary);
}

.filters .tags{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  flex-grow:  1;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filters select{
  padding: 8px 15px;
  border-color: silver;
  border-radius: 4px;
  outline: normal;
  cursor: pointer;
}

.filters select + select{
  margin-left: 10px;
}

.tags input:checked + label{
  background: gold;
  border-color: gold;
  color: black;
}

.grpctrl{
  display: flex;
  margin: 30px 0 0;
  padding-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.grpctrl .chk{
  margin:  1px;
  margin-right: 20px;
}

input[type='checkbox']{
  display: none;
}

input[type='checkbox'] + label{
  cursor: pointer;
  display: block;
  padding: 7px;
}

input[type='checkbox'] + label::after{
  content:'';
  width: 20px;
  height: 20px;
  border: 1px solid silver;
  border-radius: 5px;
  display: block;
  margin: auto;
  box-sizing: border-box;
}

input[type='checkbox']:checked + label::after{
  border-color: #01b1ed;
  background-color: #01b1ed;
  background-image: url('/images/tick.svg');
  background-position: center;
  background-size: contain;
  padding: 1px;
  display: block;
}



.act{
  display: flex;
  flex-grow: 1;
}

.date .act{
  display: inline-block;
}

.ctrl.act{
  margin: 0;
  margin-left: -10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.ctrl.act > div{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.act a.button,
.act button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  padding: 6px;
  height: 40px;
  width: 40px;
  background: transparent;
  border: 0;
  position: relative;
  box-sizing: border-box;
}

.act a.button img,
.act button img{
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
  filter: grayscale(100%);
  transition: filter 0.2s;
}

.act a.button:hover img,
.act button:hover img{
  filter: grayscale(0%);
}

.act a.button .bg,
.act button .bg{
  position: absolute;
  height: 0px;
  width: 0px;
  background-color: #ddd;
  border-radius: 100%;
  z-index: -1;
  transition: height 0.2s, width 0.2s, background-color 0.2s;
  box-sizing: border-box;
}

.act button:hover .bg,
.act a.button:hover .bg{
  height: 40px;
  width: 40px;
  background-color: whitesmoke;
  z-index: 0;
}

.act button:active .bg,
.act a.button:active .bg{
  background-color: rgba(1, 177, 237, 0.2);
  border: 1px solid #01b1ed;
}

.act button .label,
.act a.button .label{
  top: 100%;
  opacity: 0;
  color: white;
  padding: 3px 7px;
  position: absolute;
  border-radius: 5px;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s;
  background-color: #24336b;
  background-color: #454545;
}

.act button:hover .label,
.act a.button:hover .label{
  opacity: 1;
  transition: opacity 0.2s 0.5s;
}

#act{
  flex-grow: 0;
}

.pager{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 46px;
}

.pager .counter{
  white-space: nowrap;
  padding: 10px 15px;
}

.pager .stepper{
  display: flex;
}

.pager button{
  height: 32px;
  width: 32px;
  border-radius: 8px;
  border: 1px solid silver;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager button:not(:disabled):hover{
  background-color: #ddd;
  border-color: #01b1ed;
}

.pager button:disabled{
  background-color: transparent !important;
  opacity: 0.5;
  cursor: default;
}

.pager button:active{
  background-color: rgba(1, 177, 237, 0.2);
}

.pager button img{
  max-width: 100%;
  max-height: 100%;
}

button,
a.button{
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

button.primary,
a.button.primary{
  display: block;
  padding: 14px 14px 13px;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

button.primary:hover,
a.button.primary:hover{
  background-color: darkblue;
}

button.primary:active,
a.button.primary:active{
  background-color: midnightblue;
}

button.secondary,
a.button.secondary{
  display: block;
  padding: 14px 14px 13px;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #24336b;
  background: transparent;
  color: #24336b;
  text-align: center;
  box-sizing: border-box;
}

button.secondary:hover,
a.button.secondary:hover{
  background-color: whitesmoke;
}

button.secondary:active,
a.button.secondary:active{
  background-color: silver;
}

button.tertiery,
a.button.tertiery{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-height: 28px;
  min-width: 50px;
  background: var(--primary);
  color: black;
  width: 70px;
  border-radius: 40px;
  margin-left: auto;
  border: 0;
  font-size: 14px;
}

button.tertiery:hover,
a.button.tertiery:hover{
  background-color: Moccasin;
}

button.tertiery:active,
a.button.tertiery:active{
  background-color: lightsalmon;
}

button.warning,
a.button.warning{
  display: block;
  padding: 14px 14px 13px;
  border-radius: 50px;
  border: 1px solid firebrick;
  background-color: crimson;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  box-sizing: border-box;
}

button.warning:hover,
a.button.warning:hover{
  background-color: firebrick;
}

button.warning:active,
a.button.warning:active{
  background-color: darkred;
}

button.close,
a.button.close{
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 20px;
  line-height: 20px;
  border-radius: 20px;
  text-decoration: none;
  box-sizing: border-box;
  background-color: transparent;
}

button.close:hover,
a.button.close:hover{
  box-sizing: border-box;
  background-color: crimson;
  color: white;
}

button.close:active,
a.button.close:active{
  background-color: darkred;
}

button[disabled],
a.button:disabled{
  background-color: var(--home-bg-color);
  color: var(--profile-font-color);
  border: none;
}

input.error{
  border-color: firebrick;
  background-color: #ffd7dd;
}

input.error + p.error{
  padding-left: 0;
  color: firebrick;
}

/* +--------------+ */
/* | custom modal | */
/* +--------------+ */

.modalCont{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 20px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.modal{
  max-width: 312px;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.5);
  z-index: 3;
  padding: 32px 24px;
  text-align: center;
}

.modal h1{
  font-size: 20px;
  margin: 0 0 10px;
}

.modal p{
  font-size: 14px;
  min-height: 20px;
  color: var(--disabled-font-color);
}

.buttons{
  display: flex;
  margin: 28px -8px 0;
  justify-content: center;
}

.buttons >*{
  width: 100%;
  max-width: 120px;
  margin: 0 8px;
}

.modalCont .overlay{
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.urgent{
  padding: 3px 0;
  margin: 0;
  color: white;
  background-color: crimson;
  font-size: 14px;
  text-align: center;
  position: sticky;
}

#user_profile{
  z-index: 9999;
}

#user_profile .modal{
  border-radius: 8px;
  background: var(--bg-themed);
}

#user_profile .profile{
  width: 100px;
}

#user_profile .name{
  font-size: 18px;
  margin-top: 8px;
}

#user_profile .links{
  display: flex;
  flex-direction: column;
  margin: 40px -24px -32px;
  background-color: whitesmoke;
  border-radius: 0 0 8px 8px;
}

#user_profile .links a{
  display: flex;
  align-items: center;
  border-top: 1px solid silver;
  padding: 5px 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#user_profile .links img{
  width: 28px;
  margin-right: 10px;
}

#user_profile .links p{
  font-size: 18px;
}

#btnAccountSettings:hover{
  background-color: PaleTurquoise;
}

#btnLogout:hover{
  background-color: pink;
  border-radius: 0 0 8px 8px;
}

@media(max-width: 400px){
  nav{
    height: 40px;
  }

  nav img{
    height: 32px;
    padding: 8px;    
  }

  #user{
    height: 40px;
    font-size: 14px;
  }

  #brand{
    height: 22px;
    padding: 9px 10px;
  }

  .content{
    margin-top: 40px;
  }
}

@media print {
  body > .content{
    margin-top: 20px !important;
  }

  body > nav{
    display: none !important;
  }

  .card{
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }

  .ctrl.act{
    display: none !important;
  }

  .noprint {
    visibility: hidden !important;
    display: none !important;
  }
}