html, body{
  padding: 0;
  background: var(--bg-body);
  font-family: 'Roboto', sans-serif, 'Roboto Mono', monospace;
  color: var(--color);
}

.hide{
  display: none !important;
}

body{
  display: flex;
  margin: 0;
  position: relative;
  flex-direction: column;
}

button{
  outline: 0;
  cursor: pointer;
}

input{
  border: var(--border);
  padding: 5px 10px;
  width: unset;
  cursor:text;
  outline: 0;
  border-radius: var(--border-radius);
  background: var(--bg-input);
}

::placeholder{
  color: var(--color-placeholder);
}

.flexrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 999;
  background: var(--bg-nav);
  transition: 0.2s box-shadow, 0.2s background;
  box-shadow: var(--box-shadow);
}

nav.header:hover{
  box-shadow: var(--box-shadow);
  background: var(--bg-nav-hover);
}

#brand{
  max-height: 30px;
  max-width: 120px;
  padding: 10px 15px;
}

nav .l, nav .c, nav .r{
  display: flex;
  justify-content: center;
}

nav .l > *,
nav .c > *,
nav .r > *{
  transition: background-color 0.2s;
}

nav .l > *:hover, 
nav .c > *:hover, 
nav .r > *:hover{
  background: var(--bg-nav-btn-hover);
}

#user,
#notification,
#logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
  box-sizing: border-box;
  height: 50px;
}

#user img{
  margin-right: 5px;
  padding: 0;
  height: 28px;
}

#notification img{
  height: 40px;
}

#logout img{
  margin-right: 5px;
  padding: 0;
  height: 28px;
}

.verticalLine {
  border-left: 2px solid whitesmoke;
  margin: 4px 17px 4px 17px;
}

section{
  font-size: 14px;
  margin: auto;
  padding: 0 20px;
  padding-left: 70px;
}

section h1{
  margin-top: 5px;
  padding: 0;
  font-size: 1.7em;
}

article.bordered{
  border: var(--border);
  border-radius: 8px;
  background: var(--bg-card);
  padding: 20px 25px 25px;
}

article .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

article h1{
  padding-top: 0;
}

article .top h1{
  margin: 0;
}

article h2{
  margin: 0 0 20px;
  font-size: 18px;
  font-wight: bold;
}

article .btns{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

article .btns button{
  padding: 7px 15px;
  background: var(--primary);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  color: var(--bg-body);
  font-size: 14px;
}

article .btns button:hover{
  background: var(--btn-secondary-hover);
  border-color: var(--btn-secondary-hover);
}

article .btns button:active{
  background: var(--primary);
  border-color: var(--primary);
}

.breadcrumbs{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.breadcrumbs > * {
  color: grey;
  display: block;
  padding: 5px 12px;
  margin: 0;
  margin-left: -10px;
  text-decoration: none;
}

.breadcrumbs a:hover{
  text-decoration: underline;
}

.breadcrumbs p{
  pointer-events: none;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px 20px;
}

h2 + .cards{
  margin-top: -15px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background: var(--bg-card);
  margin: 5px;
  width: 120px;
  height: 120px;
  color: black;
  border-radius: 8px;
  border: var(--border);
  /*box-shadow: var(--box-shadow);*/
  transition: 0.2s box-shadow, 0.2s border;
}

.card:hover{
  box-shadow: 0 2px 8px 0 darkgrey;
}

.card:active{
  color: inherit;
}

.card img{
  display: block;
  height: 60px;
  box-sizing: border-box;
  padding: 10px 0 5px;
}

.card p{ 
  padding: 0 10px;
  margin: 10px 0 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}


/* +-----------+ */
/* | van cards | */
/* +-----------+ */

.vanCards{
  margin: 10px -5px;
  
}

.vanCards .cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin-bottom: 0;
}

.vanCards .card{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: unset;
  width: unset;
  margin: 3px;
  padding: 10px 15px;
  cursor: pointer;
  flex: 1 1 0;
}

.vanCards .card > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vanCards .card p{
  margin: 0;
  padding: 0;
}

.vanCards .card > div img{
  max-height: unset;
  max-width: unset;
  height: unset;
  width: 22px;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}

.vanCards .card.selected{
  background: aquamarine;
}

.vanCards .btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vanCards .btns .selectAll,
.vanCards .btns .deselectAll{
  color: black;
  background: var(--bg-body);
  border: 1px solid silver;
}

.vanCards .btns .selectAll:hover,
.vanCards .btns .deselectAll:hover{ 
  background: var(--btn-secondary-hover);
  box-shadow: var(--box-shadow-dark);
  color: white;
}


.vanCards .btns .selectAll:active,
.vanCards .btns .deselectAll:active{
  background: var(--btn-primary-hover);
}

/* +------------+ */
/* | search bar | */
/* +------------+ */

.searchCont{
  padding: 10px;
  border-radius: 8px;
  background: var(--bg-card);
  box-shadow: var(--box-shadow);
  transition: 0.2s box-shadow;
}

.searchCont .bar{
  display: flex;
  background: var(--bg-card);
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 4px;
  width: 100%;
  transition: 0.2s border, 0.2s border-radius;
}

.searchCont .barCont{
  display: flex;
}

.searchCont .bar:hover{
  border: var(--border);
}

.searchCont.focused .bar{
  border: var(--border);
  border-right: 1px solid transparent;
  border-radius: 8px 0 0 8px;
}

.searchCont #btnSearch{
  margin: 0;
  width: 60px;
  bordeR: none;
  box-shadow: none;
  border-radius: 8px;
  background: transparent;
  transition: 0.2s border-radius, 0.2s background;
}

.searchCont #btnSearch:hover{
  border: var(--border);
  background: #eee;
}

.searchCont #btnSearch:active{
  background: transparent;
}

.searchCont.focused #btnSearch{
  border: var(--border);
  background: #eee;
  border-radius: 0 8px 8px 0 !important;
}

.searchCont #btnSearch:active{
  background: transparent !important;
}

.searchCont .icon{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchCont .icon img{
  display: block;
  height: 20px;
}

.searchCont input{
  display: block;
  border: 0;
  width: 100%;
  font-size: 16px;
  padding: 0 10px !important;
  outline: 0;
}

.filtersCont h3{
  margin: 0;
  padding: 16px 20px 0;
}

.filters{
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px;
  margin: 0 -5px -10px;
}

.filter{
  margin: 5px;
  position:  relative;
}

.filter > .title{
  margin: 0;
  background: var(--bg-body);
  border-radius: 8px;
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s background;
}

.filter:hover > .title{
  background: var(--bg-card);
}

.filter .icon{
  height: 20px;
}

.filter .options{
  background: var(--bg-card);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-top: 0;
  position: absolute;
  top: 100%;
  width: calc(100% - 2px);
  display: none;
  cursor: pointer;
  z-index: 9;
}

.filter p{
  margin: 0;
  padding: 7px 16px;
}

.filter.open .title{
  background: var(--bg-card);
  border-radius: 5px 5px 0 0;
}

.filter.open .options{
  display: block;
}

.filter .option:hover{
  background: var(--bg-row-hover);
}

.filter .custom{
  background: var(--bg-card);
  box-shadow: var(--box-shadow);
  padding: 15px;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  width: min-content;
}

.filter .custom > div{
  display: flex;
}

.filter .custom button{
  display: block;
  margin-top: 20px;
  text-align: right;
}

.filter .custom p{
  margin: 0 0 10px;
  padding: 0;
}

.filter .custom input{
  border: var(--border);
  padding: 5px 10px;
  width: unset;
  cursor:text;
}

.filter .custom.range > div{
  flex-wrap: wrap;
  margin-top: -20px;
}
.filter .custom.range > div > div{
  margin-top: 20px;
}

.filter .custom.range > div > div:first-child{
}

.filter .custom.open{
  display: flex;
}

/*
.searchCont .btnSearch{
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: #eee;
  box-sizing: border-box;
}

.searchCont .btnSearch:hover{
  background-color: white;
}

.searchCont .btnSearch:active{
  background-color: #ddd;
}

.searchCont.focused .btnSearch{
  margin: -4px;
  border: none;
  border-left: var(--border);
  border-radius: 0 5px 5px 0;
}
*/

article .actPager{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 10px;
}

article .actPager .act{
  width: 100%;
  display: flex
}

.act .chkAll{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  position: relative;
}

.act .chkAll label{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.act input[type='checkbox']{
  padding: 6px 10px;
}

/* +-------+ */
/* | pager | */
/* +-------+ */

.pager{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 46px;
  margin-top: 10px;
}

.pager .counter{
  white-space: nowrap;
  padding: 10px 15px;
}

.pager .stepper{
  display: flex;
}

.pager button{
  height: 32px !important;
  width: 32px !important;
  border-radius: 8px !important;
  border: 1px solid silver !important;
  background: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 6px !important;
  margin: 0 !important;
}

.pager button:not(:disabled):hover{
  background-color: white !important;
}

.pager button:not(:disabled):active{
  background-color: whitesmoke !important;
}

.pager button:disabled{
  background-color: transparent !important;
  opacity: 0.3 !important;
  cursor: default !important;
}

.pager button:active{
  background-color: rgba(1, 177, 237, 0.2) !important;
}

.pager button img{
  max-width: 100% !important;
  max-height: 100% !important;
}

/* +--------------+ */
/* | result table | */
/* +--------------+ */

.results{
  margin-top: 10px;
  margin-bottom: 50px;
}

.results table{
  margin: 0;
  width: 100%;  
  border: 1px solid #eee;
  border-collapse: collapse;
}

.results th{
  font-size: 12px;
  padding: 15px;
  text-align: center;
  background: var(--bg-row-header);
}

.results td{
  padding: 6px 10px;
  text-align: center;
}

.results tbody tr{
  transition: 0.2s box-shadow, 0.2s background;
}

.results tbody tr:nth-child(even){
  /*background: var(--bg-row-even);*/
}

.results tbody tr > *{
  border-bottom: 1px solid #eee;
}

.results tbody tr:hover{
  box-shadow: var(--bg-row-shadow);
  background: var(--bg-row-hover);
}

.results tbody tr:hover > *{
  border-color: transparent;
}

.results tbody .chk{
  width: 50px;
  box-sizing: border-box;
}

.results tbody tr > *:not(.chk){
  cursor: pointer;
}

.results tbody tr.checked{
  background: var(--bg-row-checked);
}

.act input[type='checkbox'],
.results input[type='checkbox']{
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0;
}

.results .chk label{
  cursor: pointer;
}

.noresults{
  margin: 40px 10px;
  text-align: center;
}

.screen .inprogress,
.results .loading{
  border: var(--border);
  border-radius: 8px;
  margin: auto;
  width: fit-content;
  text-align: center;
  position: fixed;
  background: khaki;
  top: 100px;
  right: 50%;
  transform: translateX(50%);
  z-index: 10;
}

.screen .inprogress p,
.results .loading p{
  margin: 5px 10px;
}

.asc,
.desc,
.sort-by { 
  padding-right: 18px;
  position: relative;
  cursor: pointer;
}

.asc:before,
.desc:after,
.sort-by:before,
.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}

.asc:before,
.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}

.desc:after,
.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}

/* +--------+ */
/* | screen | */
/* +--------+ */
.screen{
  padding-top: 14px;
}

.screen h1{
  margin: 0;
}

.screen .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.screen .nav .left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.screen .nav .right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.screen > .cont{
  margin-top: 25px;
}

.screen #btnBackScreen{
  height: 32px;
  width: 32px;
  min-width: 32px;
  margin-right: 15px;
  border-radius: 100px;
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: 0.2s background;
}

.screen #btnBackScreen:hover{
  background: white;
}

.screen img{
  max-height: 100%;
  max-width: 100%;
}

.screen > .content{
  margin-top: 25px;
  margin-left: 40px;
}

.screen label p,
.screen p.label{
  margin: 20px 0 10px;
}

.screen input{
  padding: 10px 15px;
  min-width: 400px;
  box-sizing: border-box;
}

.screen input[type=date]{
  min-width: unset;
}

.screen .footer{
  margin: 20px -5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.screen .btns{
  margin: 0 -5px;
}

.screen .nav .right button,
.screen .content button,
.screen .footer button{
  padding: 10px 15px;
  margin: 5px;
  color: white;
  background: var(--btn-primary);
  border: none;
  border-radius: var(--border-radius);
  transition: 0.2s box-shadow;
}

.screen .content button:hover,
.screen .footer button:hover{ 
  background: var(--btn-secondary-hover);
  box-shadow: var(--box-shadow-dark);
  color: white;
}

.screen .content button:active,
.screen .footer button:active{ 
  background: var(--btn-primary);
}

.screen .content button[disabled],
.screen .footer button[disabled]{
  background: var(--btn-disabled);
}


.screen .content button[disabled],
.screen .footer button[disabled]{
  background: var(--btn-disabled);
}

.screen .nav .right button.secondary{
  background: transparent;
  border: var(--border);
  border-color: grey;
  color: black;
  transition: 0.2s background;
}


.screen.edit > .cont{
  max-width: max-content;
}

.screen .nav .right button{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* +------+ */
/* | tabs | */
/* +------+ */

.tabs{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
}

.tab{
  border: var(--border);
  border-right: none;
  padding: 15px 20px;
  cursor: pointer;
}

.tab:last-child{
  border-right: var(--border);
}

.tab.selected{
  background: white;
}

/* +-------------+ */
/* | pivot table | */
/* +-------------+ */

.ptable {
  width: 400px;
  margin: 10px 0 25px;
  border: var(--border);
  border-collapse: collapse;
  box-sizing: border-box;
}

.ptable .title{
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  background: var(--bg-row-even);
  padding: 10px 15px;
  border-bottom: var(--border);
}

.ptable .cont{
  padding: 0 20px;
}

.ptable table{
  width: 100%;
  border-collapse: collapse;
}

.ptable th, .ptable td{
  padding: 10px 0px;
  border-bottom: var(--border);
  border-top: 0;  
}

.ptable td{
  padding-left: 15px;
}

.ptable tr:last-child > *{
  border-bottom: 0;
}



.ptable th{
  text-align: left;
  font-size: 13px;
}


/* +-----------+ */
/* | sku table | */
/* +-----------+ */

.skutable{
  margin: 10px 0 25px;
  width: min-content;
  border: var(--border);
}

.skutable.viewOnly > .cont{
  max-height: calc(100vh - 170px - 30px);
  overflow: auto;
}

.skutable table{
  border-collapse: collapse;
  box-sizing: border-box;
  min-width: 360px;
}

.sideBtn img{
  width: 34px;
}

.skutable:not(.viewOnly) table{
  margin: -1px;
}

.skutable .title{
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: var(--border);
  background: var(--bg-row-even);
}

.skutable.viewOnly table{
  margin: 0 20px 5px;
}

.skutable th{
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;  
}

.skutable td{
  font-size: 14px;
}

.skutable th, .skutable td{
  padding: 10px 20px;
  border: var(--border);
}

.skutable.viewOnly th, 
.skutable.viewOnly td{
  border: none;
  border-bottom: var(--border);
}

.skutable th{
  width: min-content;
}

.skutable td{
  padding-top: 6px;
  padding-bottom: 6px;
}

.skutable th.qty{
  text-align: center;
}

.skutable td.qty{
  padding: 0;
  background: white;
}

.skutable .qty input{
  border: none;
  background: transparent;
  border-radius: 0px;
  min-width: 50px;
  width: 70px;
  text-align: right;
  padding: 3px 20px;
  box-sizing: border-box;
}

.skutable.viewOnly .qty{
  padding: 0 20px;
  text-align: right;
  background: none;
}

.skutable .qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.skutable .qty input[type=number] {
  -moz-appearance: textfield;
}

.skutable.viewOnly tr > *:first-child{
  padding-left: 0;
}

.skutable.viewOnly tr > *:last-child{
  padding-right: 0;
}

.skutable.viewOnly tr:last-child td{
  border: none;
}

/* +-------------+ */
/* | detail rows | */
/* +-------------+ */

.drows{
  border: var(--border);
  border-bottom: none;
  max-width: 700px;
  margin: 25px 0;
}

.drows .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
}

.drows .row .left{
  padding: 15px 20px;
}

.drows p{
  margin: 0;
}

.drows .title{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.drows .detail{
  font-size: 14px;
  min-height: 17px;
}

.drows .right img{
  max-height: 26px;
  max-width: 26px;
}

.drows .row.next{
  cursor: pointer;
}

.drows .row.next:hover{
  background: var(--bg-row-hover);
}

/* +---------------+ */
/* | event history | */
/* +---------------+ */
.eventHistory{
  margin: 10px 0 25px;
  width: 400px;
  border: var(--border);
}

.eventHistory p{
  margin: 0;
}

.eventHistory .title{
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: var(--border);
  background: var(--bg-row-even);
}

.eventHistory .event{
  padding: 10px 15px;
  border-top: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.eventHistory .event .accent{
  padding: 2px 0;
  padding-right: 12px;
  position: relative;
}

.eventHistory .event .accent .head{
  width: 15px;
  height: 15px;
  border-radius: 20px;
  border: 3px solid lightgrey;
  box-sizing: border-box;
}

.eventHistory .event .accent .tail{
  position: absolute;
  width: 2px;
  height: calc(100% + 20px);
  top: 17px;
  background: lightgrey;
  left: 6px;
}

.eventHistory .event:first-child .accent .head{
  background: limegreen;
  border-color: limegreen;
}

.eventHistory .event:last-child .accent .tail{
  display: none;
  background: none;
}

.eventHistory .details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.eventHistory .details .desc{
  margin-right: 20px;
}

.eventHistory .status{
  font-weight: bold;
}

.eventHistory .by{
  font-style: italic;
}

/* +--------------+ */
/* | custom modal | */
/* +--------------+ */

.modalCont{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 20px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.modal{
  max-width: 312px;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.5);
  z-index: 3;
  padding: 32px 24px;
  text-align: center;
}

.modal h1{
  font-size: 20px;
  margin: 0 0 10px;
}

.modal p{
  font-size: 14px;
  min-height: 20px;
  color: var(--disabled-font-color);
}

.buttons{
  display: flex;
  margin: 28px -8px 0;
  justify-content: center;
}

.buttons >*{
  width: 100%;
  max-width: 120px;
  margin: 0 8px;
}

.modalCont .overlay{
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.urgent{
  padding: 3px 0;
  margin: 0;
  color: white;
  background-color: crimson;
  font-size: 14px;
  text-align: center;
  position: sticky;
}

/**************/
/* act button */
/**************/

.act a.button,
.act button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  padding: 6px;
  height: 40px;
  width: 40px;
  background: transparent;
  border: 0;
  position: relative;
  box-sizing: border-box;
}

.act a.button img,
.act button img{
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
  filter: grayscale(100%);
  transition: filter 0.2s;
}

.act a.button:hover img,
.act button:hover img{
  filter: grayscale(0%);
}

.act a.button .bg,
.act button .bg{
  position: absolute;
  height: 0px;
  width: 0px;
  background-color: #eee;
  border-radius: 100%;
  z-index: -1;
  transition: height 0.2s, width 0.2s, background-color 0.2s;
  box-sizing: border-box;
}

.act button:hover .bg,
.act a.button:hover .bg{
  height: 40px;
  width: 40px;
  background-color: paleturquoise;
  z-index: 0;
}

.act button:active .bg,
.act a.button:active .bg{
  background-color: whitesmoke;
  border: 1px solid paleturquoise;
  transition: none;
}

.act button .label,
.act a.button .label{
  top: 100%;
  opacity: 0;
  color: white;
  padding: 3px 7px;
  position: absolute;
  border-radius: 5px;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s;
  background-color: #24336b;
  background-color: #454545;
}

.act button:hover .label,
.act a.button:hover .label{
  opacity: 1;
  transition: opacity 0.2s 0.5s;
}

.field .cards{
  margin-left: -5px;
  margin-right: -5px;
}

.field .cards .card{
  height: unset;
  width: unset;
  margin: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.field .cards .card p{
  margin: 0;
}

.card.selected{
  background: aquamarine;
}



/***************/

#user_profile{
  z-index: 9999;
}

#user_profile .modal{
  border-radius: 8px;
  background: var(--bg-themed);
}

#user_profile .profile{
  width: 100px;
}

#user_profile .name{
  font-size: 18px;
  margin-top: 8px;
}

#user_profile .links{
  display: flex;
  flex-direction: column;
  margin: 40px -24px -32px;
  background-color: whitesmoke;
  border-radius: 0 0 8px 8px;
}

#user_profile .links a{
  display: flex;
  align-items: center;
  border-top: 1px solid silver;
  padding: 5px 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#user_profile .links img{
  width: 28px;
  margin-right: 10px;
}

#user_profile .links p{
  font-size: 18px;
}

#btnAccountSettings:hover{
  background-color: PaleTurquoise;
}

#btnLogout:hover{
  background-color: pink;
  border-radius: 0 0 8px 8px;
}

@media(max-width: 400px){
  nav{
    height: 40px;
  }

  nav img{
    height: 32px;
    padding: 8px;    
  }

  #user{
    height: 40px;
    font-size: 14px;
  }

  #brand{
    height: 22px;
    padding: 9px 10px;
  }
}

@media print {
  body > .content{
    margin-top: 20px !important;
  }

  body > nav{
    display: none !important;
  }

  .ctrl.act{
    display: none !important;
  }

  .noprint {
    visibility: hidden !important;
    display: none !important;
  }
}

/* +-----------+ */
/* | sortable table | */
/* +-----------+ */

.sortabletable{
  margin: 10px 0 25px;
  width: min-content;
}

.sortabletable.viewOnly > .cont{
  max-height: calc(100vh - 170px - 30px);
  overflow: auto;
}

.sortabletable table{
  border-collapse: collapse;
  box-sizing: border-box;
  min-width: 360px;
}

.sortabletable:not(.viewOnly) table{
  margin: -1px;
}

.sortabletable .title{
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--bg-row-even);
  border: var(--border);
}

.sortabletable .card{
  height: 42px;
  text-align: center;
}

/*.sortabletable .card p {
  margin: 0 0 0; 

}*/

.sortabletable td{
  font-size: 14px;
  width: 100px;
  vertical-align: top;
}

.sortabletable th, .sortabletable td{
  padding: 10px 10px;
  border: var(--border);
  min-width: 100px;
}


/* +-----------------------+ */
/* | Button for Dialog Box | */
/* +-----------------------+ */

button.primary {
  padding: 10px 15px;
  margin: 5px;
  color: white;
  background: var(--btn-primary);
  border: none;
  border-radius: var(--border-radius);
  transition: 0.2s box-shadow;
}

button.primary:hover{
  background: var(--btn-primary-hover);
  box-shadow: var(--box-shadow-dark);
  color: white;
}

button.warning {
  padding: 10px 15px;
  margin: 5px;
  color: white;
  background: var(--btn-warning);
  border: none;
  border-radius: var(--border-radius);
  transition: 0.2s box-shadow;
}

button.warning:hover{
  background: var(--btn-warning-hover);
  box-shadow: var(--box-shadow-dark);
  color: white;
}

button.light {
  padding: 10px 15px;
  margin: 5px;
  color: black;
  background: var(--btn-light);
  border-radius: var(--border-radius);
  border: var(--border);
}

button.light:hover{
  background: var(--btn-light-hover);
  box-shadow: var(--box-shadow-dark);
  color: black;

}

button.secondary {
  padding: 10px 15px;
  margin: 5px;
  color: white;
  background: var(--btn-secondary);
  border: none;
  border-radius: var(--border-radius);
  transition: 0.2s box-shadow;
}

/* +-----------------------+ */
/* | Button for Article | */
/* +-----------------------+ */

article .btns{
  margin:  0 -5px;
}

article .btns button{
  margin: 0 5px !important;
}

article .btns button.secondary{
  background: whitesmoke;
  color:  black;
  border-color: silver;
}

article .btns button.secondary:hover{
  background: white;
  border-color: dimgrey;
}

/***************/
/*
 CSS for select2 drop down list
*/
span.select2.select2-container.select2-container--default {
  margin-top: 14px;
}

li.select2-results__option {
  font-size: 13px;
}

/***************/

/*
 CSS for Notification
*/

#notification a {
  color: white;
  text-decoration: none;
  padding-top: 15px; 
  padding-bottom:15px;
  height:20px;
  padding-right: 5px;
  position: relative;
  border-radius: 2px;
}

#notification .count {
  position: absolute;
  top: 1px;
  left: -13px;
  padding: 4.5px 5px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 12px;
  text-align: center;
  min-width: 13px;
  padding:0.4em 0.4em;
}

.notificationDetails .modal{
  min-width: 50vh;
  min-height: 60vh;
  max-width: max-content;
}

.notificationDetails h1{
  margin-bottom: 15px;
}

.main-menu {
  padding-top: 15vh;
  height: 100vh;
  background: var(--bg-nav);
  width: 60px;
  overflow: hidden;
  position: fixed;
  -webkit-transition: width .05s linear;
  transition: 0.2s box-shadow, 0.2s background;
  box-shadow: var(--box-shadow);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-menu > ul > li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform: translateZ(0) scale(1,1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  font-style: normal;
  font-weight: normal;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 10vh;
  font-size: 18px;
  cursor: pointer;
  color: var(--color);
}

nav.main-menu ul,
nav.main-menu > ul > li {
  outline: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 3vh;
}

.main-menu img.icon{
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu .arrow{
  align-content: left;
  height: 10px;
  display: block;
  vertical-align: middle;
  margin: 10px;
}

.main-menu:hover,nav.main-menu.expanded,
.main-menu:hover > ul.settings {
  min-width: 28vh;
  overflow:visible;
}

.main-menu:not(:hover) .sub-menu{
  display: none;
}

.sub-menu {
  list-style: none;
}

.sub-menu > li:hover > a {
  cursor: pointer;
}

.collapsein{
  text-decoration: none;
  margin-left: 30px;
  font-size: 14px;
  margin-top: 5px;
}

.collapsein a{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  text-decoration: none;
  color: var(--color);
}

.collapsein img.icon{
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding-right: 10px;
}

ul.settings {
 position: fixed;
 bottom: 6px;
 width: 60px;
  overflow: hidden;
}

ul.settings > li.horizontalLine {
  margin: 0px;
  padding: 0px;
}

hr {
  color: whitesmoke;
  display: block; 
  height: 1px;
  border: 0;
  border-top: 1px solid #C4CFD3;
}