body{
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  overflow: hidden; /* Hide scrollbars */
}

body{
  background: whitesmoke;
  align-items: center;
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
}

.content{
  position: relative;
  z-index: 2;
  background: rgba(255,255,255,0.8600000143051147);
  border-radius: 4px;
  padding: 50px 20px 20px 20px;
  min-width: 350px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
}

.content h1{
  margin: 10px 0 20px;
  text-align: center;
  font-size: 34px;
}

label{
  display: block;
  padding: 10px 0;
}

input{
  display: block;
  margin-top: 8px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid silver;
  background: white;
  outline: none;
  width: calc(100% - 44px);
  border: 1px solid rgba(33,72,192,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

input:focus{
  border-color: black;
}

.response{
  padding: 4px;
  color: crimson;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

#btnLogin{
  width: 100%;
  padding: 14px;
  background: var(--btn-primary);
  color: white;
  margin: 30px 0 20px;
  border-radius: 4px;
  border: 2px solid var(--btn-primary);
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

#btnLogin:hover{
  background: var(--btn-secondary);
  border-color: var(--btn-secondary);
}
#btnLogin:active{
  background: var(--btn-tertiary);
  border-color: var(--btn-tertiary);
}

.blur{
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background: rgba(0,0,0,0.1) !important;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
   width: 100px;
   height: 100px;
   margin: 0px;
   padding: 0px;
}

.header {
  margin-bottom:auto
}

.footer {
  margin-top:auto; 
  margin-bottom: -20px;
}

.wave {
  width: 100%;
}

::-webkit-input-placeholder { /* Edge */
  font-size: 9px;
  color: #2148C0;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 9px;
  color: #2148C0;
}

::placeholder {
  font-size: 9px;
  color: #2148C0;
}

.input-icons i {
  position: absolute;
  padding-top: 10px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  padding-left: 30px;
}

.fa-user {
  color: #2148C0;
}

.fa-lock {
  color: #2148C0;
}