.formGroup{ border: 1px solid #dedede;padding: 10px 22px;border-radius:7px;    margin-top: 20px;}
.formGroup h1{font-size: 1em;position: absolute; top: 103px; background: whitesmoke;}
.formGroup .field{width: 50%; display: inline-block;margin-top: 15px;}
.formGroup .field .label{display: flex;}
.formGroup .field .label input{height: 20px; margin-top: 7px; margin-right: 10%;width: 50%;}
.formGroup .field .label select{height: 40px; margin-top: 7px; margin-right: 10%;width: 53%;}
.formGroup .field .label p{width: 30%;}
.formGroup .field .label textarea{height: 40px; margin-top: 7px; margin-right: 10%;width: 50%;outline: 0;
    border-radius: var(--border-radius);background: var(--bg-input);    border: var(--border);padding: 5px 10px;}
article .btns2{display: block;  text-align: center;margin-top: 15px;margin-bottom: 15px;}
thead { cursor: pointer; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}