#batch.skutable th{
  white-space: nowrap;
}

#viewPickingScreen > .cont > *{
  display: flex;
  flex-wrap: wrap;
}

#viewPickingScreen > .cont > .content > div{
  margin-right: 20px;
}

#btnScan{
  display: none;
}

.allot .modal{
  max-width: max-content;
}

.allot .modal > .content{
  display: flex;
  align-items: flex-start;
}

.allot .modal > .content > *:not(:last-child){
  margin-right: 20px;
}

.allot h1{
  margin-bottom: 15px;
}

.allot .skutable .cont{
  max-height: calc(100vh - 170px - 190px);
}

.allot .sku_id{
  text-align: left;
}

.allot button{ 
  padding: 7px 15px 7px;
  margin: 0 5px 0;
  color: white;
  background: var(--btn-primary);
  border: none;
  border-radius: var(--border-radius);
  transition: 0.2s box-shadow;
}

.allot button.secondary{
  background: transparent;
  border: var(--border);
  border-color: grey;
  color: black;
  transition: 0.2s background;
}

.allot button.secondary:hover{
  background: white;
}

.allot button.warn{
  border-color: firebrick;
  color: firebrick;
}

.allot button.warn:hover{
  background: firebrick;
  color: white;
}

.uom_id{
  text-align: left;
}

.ptable td{
  font-size: 14px;
}

.skutable,
.eventHistory{
  margin-bottom: 15px;
}