.skutable .sku_id{
  white-space: nowrap;
}

#createScreen {
  width: min-content;
  min-width: 400px;
  margin-left: 0;
}

#createScreen .skutable input{
  width: 100px;
}

#fQuantity .d1{
  display: flex;
  margin: 0 -10px;
  width: unset;
}

#fQuantity .d1 > *{
  margin-left: 10px;
  margin-right: 10px;
}

#receivingSkus{
  background: honeydew;
}

#receivingSkus th,
#receivingSkus .sku_id,
#receivingSkus .uom_id{
  color: teal !important;
}

#notReceivingSkus{
  background: LavenderBlush;
}

#notReceivingSkus th,
#notReceivingSkus .sku_id,
#notReceivingSkus .uom_id{
  color: firebrick !important;
}

@media(max-width: 1024px){
  #fQuantity .d1{
    flex-wrap: wrap;
  }
}
