#createScreen {
  width: fit-content;
  margin-left: 0;
}

.skutable .qty{
  width: 100px;
}

.skutable .qty input{
  width: 100%;
}

.skutable th{
  white-space: nowrap;
}

#viewScreen > .cont > *{
  display: flex;
  flex-wrap: wrap;
}

#viewScreen > .cont > .content > div{
  margin-right: 20px;
}
