#close {
  cursor: pointer;
  color: crimson;
  font-weight: bold;
  margin-right: 5px;
}

.card{
  flex-direction: row;
  text-align: center;
}

#optionScreen {
  width: min-content;
  min-width: 40%;
  margin-left: 0;
}

.formGroup{ border: 1px solid #dedede;padding: 10px 22px;border-radius:7px;    margin-top: 20px;}
.formGroup h1{font-size: 1em;position: absolute; top: 103px; background: whitesmoke;}
.formGroup .field{width: 50%; display: inline-block;margin-top: 15px;}
.formGroup .field .label{display: flex;}
.formGroup .field .label input{height: 20px; margin-top: 7px; margin-right: 10%;width: 50%;}
.formGroup .field .label p{width: 30%;}
.formGroup .field .label textarea{height: 40px; margin-top: 7px; margin-right: 10%;width: 50%;outline: 0;
    border-radius: var(--border-radius);background: var(--bg-input);    border: var(--border);padding: 5px 10px;}
article .btns{display: block;  text-align: center;margin-top: 15px;margin-bottom: 15px;}
thead { cursor: pointer; }
