:root{
  --bg-body: whitesmoke;
  --bg-themed: linear-gradient(135deg, rgba(117,206,255,1) 0%, rgba(214,117,255,1) 100%);
  --bg-nav: white;
  --bg-nav-hover: white;
  --bg-nav-btn-hover: whitesmoke;
  --bg-card: white;
  --bg-row-header: #dedede;
  --bg-row-even: #eee;
  --bg-row-hover: paleturquoise;
  --bg-row-shadow:  0 2px 8px 0 paleturquoise;
  --bg-row-checked: #C3F2F2;
  --bg-input: white;

  --color: black;
  --input-placeholder: #8e8e8e;

  --primary: royalblue;
  --secondary: darkcyan;
  --tertiary: cadetblue;
  --light: #f8f9fa;

  --btn-primary: royalblue;
  --btn-primary-hover: royalblue;
  --btn-primary-active: royalblue;

  --btn-secondary: dodgerblue;
  --btn-secondary-hover: dodgerblue;
  --btn-secondary-active: dodgerblue;

  --btn-tertiary: deepskyblue;
  --btn-tertiary-hover: deepskyblue;
  --btn-tertiary-active: deepskyblue;

  --btn-warning: crimson;
  --btn-warning-hover: crimson;
  --btn-warning-active: crimson;

  --btn-light: #f8f9fa;
  --btn-light-hover: #f8f9fa;
  --btn-light-active: #f8f9fa;

  --btn-disabled: silver;

  --border: 1px solid lightgrey;
  --border-radius: 8px;
  --box-shadow: 0 2px 8px 0 lightgrey;
  --box-shadow-dark: 0 2px 8px 0 darkgrey;

  /*
  --bg-nav:  black;
  --bg-body:  black;
  --bg-card:  dimgrey;
  --bg-input: dimgrey;
  --color: grey;
  --color-placeholder: whitesmoke;
  */
}