.price, .discount, .tax, .quantity, .line_total{  
  text-align: right !important;
}

#val_Voided.voided{
  font-weight: bold;
  color: red;
}

#doc_details{
  width: calc(100% + 40px);
  max-width: 800px;
}

#doc_details .cont{
  max-height: unset;
}

#doc_details table{
  width: calc(100% - 40px);
}

#doc_details td{
  border-bottom: none;
}

#doc_details tfoot td:first-child{
  font-weight: bold;
  font-size:  12px;
}

#doc_details tfoot tr:first-child td{
  padding-top: 10px;
}

#doc_details tfoot td:nth-child(2){
  text-align: right;
}

#doc_details tfoot td{
  border: 0;
}

#doc_details tfoot tr:first-child td{
  border-top: var(--border);
}
